/KNX Virtual Integrator/KNX Virtual Integrator/obj/rider.project.restore.info
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/apphost.exe
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.csproj.CoreCompileInputs.cache
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.csproj.FileListAbsolute.txt
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.deps.json
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/ref/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/refint/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.exe
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.g.resources
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.genruntimeconfig.cache
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.pdb
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.pdb
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.runtimeconfig.json
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.sourcelink.json
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/MainWindow.baml
/KNX Virtual Integrator/.idea/.idea.KNX Virtual Integrator/.idea/vcs.xml
*.vsidx
*.vsidx
KNX Virtual Integrator/KNX Virtual Integrator/obj
/KNX Virtual Integrator/KNX Virtual Integrator/obj
KNX Virtual Integrator/KNX Virtual Integrator/obj/
/KNX Virtual Integrator/KNX Virtual Integrator/obj/
KNX Virtual Integrator/KNX Virtual Integrator/bin
/KNX Virtual Integrator/KNX Virtual Integrator/bin
KNX Virtual Integrator/KNX Virtual Integrator/bin/
/KNX Virtual Integrator/KNX Virtual Integrator/bin/
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/logs
/KNX Virtual Integrator/.vs/KNX Virtual Integrator/v17
/KNX Virtual Integrator/.vs
/KNX Virtual Integrator/.vs/
/KNX Virtual Integrator/.idea/
/KNX Virtual Integrator/.idea
/KNX Virtual Integrator/KNX Virtual Integrator/.vs
KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/apphost.exe
KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/apphost.exe
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-black.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-black-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-bold.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-extrabold.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-extrabold-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-extrabold-italic 2.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-light.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-light-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/__MACOSX/._aptos-semibold.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-black.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-black-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-bold.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-extrabold.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-extrabold-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-extrabold-italic 2.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-light.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-light-italic.ttf
/KNX Virtual Integrator/KNX Virtual Integrator/font/aptos-semibold.ttf
*.exe
