**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.exe
.vs/
.idea/
**/rider.project.restore.info
**/Debug/**
**/__MACOSX/
**/font/aptos*.ttf
/KNX Virtual Integrator/.idea/vcs.xml
/KNX Virtual Integrator/.vs/KNX Virtual Integrator/v17
**/bin/
**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.exe
.vs/
.idea/
**/rider.project.restore.info
**/Debug/**
**/__MACOSX/
**/font/aptos*.ttf
/KNX Virtual Integrator/.idea/vcs.xml
/KNX Virtual Integrator/.vs/KNX Virtual Integrator/v17
