/KNX Virtual Integrator/KNX Virtual Integrator/obj/rider.project.restore.info
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/apphost.exe
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.csproj.CoreCompileInputs.cache
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.csproj.FileListAbsolute.txt
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.deps.json
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/ref/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/refint/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.dll
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.exe
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.g.resources
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.genruntimeconfig.cache
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.pdb
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.pdb
/KNX Virtual Integrator/KNX Virtual Integrator/bin/Debug/net8.0-windows/KNX Virtual Integrator.runtimeconfig.json
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/KNX Virtual Integrator.sourcelink.json
/KNX Virtual Integrator/KNX Virtual Integrator/obj/Debug/net8.0-windows/MainWindow.baml
/KNX Virtual Integrator/.idea/.idea.KNX Virtual Integrator/.idea/vcs.xml
# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
